<!DOCTYPE html>
<html>
    <head>
        <title>Abevents</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="pikaday.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="jsController.js"></script>
		<script src="angularHardcopy.js"></script>
        <script src="angularAnimate.js"></script>
		
    </head>
    
    <body>
	
		<!-- Angular JS for Mobile Menu slider -->
	<div ng-app="abEvents" ng-controller="abEventsController">
    
		<div id="Header">
            <img src="Logo.png" alt="Logo"/>
            <button class="openMobileMenuButton" ng-click="toggleMenu()" >Menu</button>

		</div>
        
        <div id="mysticalHeaderPaddingFix">
        <!-- who even knows what this div does it just makes the header work -->
        </div>

        <div id="eventsContainer">

                <div ng-repeat="event in testEvents" class="Event">
                    <h1>{{ event}}</h1> In consectetur dignissim libero vel tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta accumsan auctor. Morbi eget ex vitae sem euismod dignissim. Suspendisse auctor libero quis ornare sodales. Pellentesque id dui condimentum 
                    <!--
                    <img src="EventIcon.png" alt="Crash"/>
                    <div class="EventText">
                        <div class="EventTitle">{{ event }} </div>
                        <div class="EventLocation">Location</div>
                        <p>

                        </p>
                    </div>
                    <div class="EventIcons">
                        <img src="IconGreen.png" alt="Green" />
                        <img src="IconBlue.png" alt="Blue" />
                        <img src="IconYellow.png" alt="Yellow" />
                        <img src="IconRed.png" alt="Red" />
                        <img src="IconGrey.png" alt="Grey" />
                    </div>
-->
                </div>


        </div>

        <div id="menu" ng-hide="mobileMenuToggle">
            <button class="openMobileMenuButton" ng-click="toggleMenu()" >Menu</button>
            <h1>Search Filters</h1>

            <label for="datepicker"><h3>Date &nbsp;&nbsp;</h3> </label>
            <h5>
                <div id="catButton" onclick="categoryToggle(this)">Today</div>
                <div id="catButton" onclick="categoryToggle(this)">Tomorrow</div>
                <div id="catButton" onclick="categoryToggle(this)">Weekend</div>
                <div id="catButton" onclick="categoryToggle(this)">Weeknights</div>
            </h5>

            <p style="line-height:0.5">or<p />        

            <table class="sliderTable">
                <tr>
                    <td class="sliderValue">From&nbsp; </td>
                    <td class="sliderBar">             
                        <input class="dateTextBox" type="text" value="Select Date" id="datepicker">
                    </td>
                </tr>
                <tr>
                    <td>To </td>
                    <td class="sliderBar">             
                        <input class="dateTextBox" type="text" value="Select Date" id="datepicker2">
                    </td>
                </tr>            
            </table>

            <br />
            <h3> Categories</h3>
            <h5>
                <div id="catButton" onclick="categoryToggle(this)">Nightclubs</div>
                <div id="catButton" onclick="categoryToggle(this)">Gigs</div>
                <div id="catButton" onclick="categoryToggle(this)">Comedy</div>
                <div id="catButton" onclick="categoryToggle(this)">Theatre</div>
                <div id="catButton" onclick="categoryToggle(this)">Festivals</div>
                <div id="catButton" onclick="categoryToggle(this)">Ceilidh</div>
            </h5>

            <h3>Max Price</h3>              
            <table class="sliderTable">
                <tr>
                    <td class="slider">
                        <input class="sliderBar" type="range" id="slider" value="10" min="0" max="100" step="1"
                        oninput="sliderChange(th is.value)">
                     </td>
                     <td class="sliderValue">
                        <h3>£<output id="output">10</output></h3>
                     </td>
                </tr>
            </table>       
            <br />

            <h3><input type="submit" class="updateSearchButton" value="Update Search"></h3>
        </div>

    </div>
	
		
		<!-- Javascripty Bits and Pieces -->
    
    <script src="pikaday.js"> // Pikadaty is the Calendar Widget</script>
    <script>        
        // retrieving value of price slider
        function sliderChange(val) {
            document.getElementById('output').innerHTML = val;
        }
        
        // changing background colour of category buttons
        // need to add boolean toggle to distinguish on/off when submitted
        function categoryToggle(divObj) {
            if (divObj.style.background == "antiquewhite") {
                divObj.style.background = "lightslategray";
            }
            else {
                divObj.style.background = "antiquewhite";
            }                 
        }   
        
        var datePickerFrom = new Pikaday(
        {
            field: document.getElementById('datepicker'),
            firstDay: 1,
            minDate: new Date(),
            maxDate: new Date(2020, 12, 31),
            yearRange: [2000,2020]
        });
        
        var datePickerTo = new Pikaday(
        {
            field: document.getElementById('datepicker2'),
            firstDay: 1,
            minDate: new Date(),
            maxDate: new Date(2020, 12, 31),
            yearRange: [2000,2020]
        });
        
        
        // to remove scroll bar from main events window 
        var parent = document.getElementById('container1');
        var child = document.getElementById('container2');
        child.style.paddingRight = child.offsetWidth - child.clientWidth + "px";

    </script>
    </body>
</html>