@import url('https://fonts.googleapis.com/css?family=Montserrat');

.search_box {
	display: inline-block;
	box-sizing: border-box;
	width: 250px;
	height: 42px;
	cursor: I-beam;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	overflow: hidden;
	border: none;
	border-radius:10px;
	font-style: normal;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(140, 140, 140, 1);
	text-decoration: normal;
	text-overflow: ellipsis;
	background: rgba(40, 40, 40, 0.4);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
	transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.search_box:hover {
	width: 300px;
	opacity: 0.82;
	color: rgba(181, 181, 181, 1);
	background: rgba(0, 0, 0, 0.4);
	transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.search_box:focus {
	width: 400px;
	cursor: default;
	padding: -13px 20px 0;
	color: rgba(255, 255, 255, 1);
	transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.form_frame {
	max-width: 100%;
	padding-top: 5px;
	width: 600px;
	height: 385px;
        background-color: rgba(32,32,32, 0.5);
	border-radius: 50px;
}

.text {
	box-sizing: content-box;
	border: none;
	font-style: normal;
	font-size: 25px;
	font-family: font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
	max-width: 422px;
	max-height: 500px;
	height: auto;
	width: auto;
}

h1 {
	font: normal 30px/normal 'Montserrat', sans-serif;
	color: #ffffff;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 20px;
}

input:focus {
	outline: none;
}

body {
    	-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
    	-khtml-user-select: none; /* Konqueror HTML */
    	-moz-user-select: none; /* Firefox */
    	-ms-user-select: none; /* Internet Explorer/Edge */
    	user-select: none;
	padding-top: 50px;
	text-align: center;
	background-image: url("images/main_background.jpg");
	background-attachment: fixed;
}

.searchButton {
	background-color:#000000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:8px 30px;
	text-decoration:none;
}
.searchButton:hover {
	background-color:#ffffff;
	color: #000000;
}
.searchButton:active {
	position:relative;
	top:1px;
}

label {
	font: normal 25px/normal 'Montserrat', sans-serif;
	color: #ffffff
}

input[type='radio'] {
    	transform: scale(1);
}

.radio-custom {
    	opacity: 0;
}

.radio-custom-label {
	left: calc(50% - 90px);
	position: absolute;
}

.radio-custom, .radio-custom-label {
    	display: inline-block;
    	margin: 15px;
   	cursor: pointer;
}

.radio-custom + .radio-custom-label:before {
    	content: '';
    	background: #fffff;
   	border: 1px solid #ddd;
    	display: inline-block;
    	width: 12px;
    	height: 12px;
    	padding: 2px;
	margin-right: 10px;
    	text-align: center;
    	border-radius: 50%;
}


.radio-custom:checked + .radio-custom-label:before {
    	background: #000000;
    	box-shadow: inset 0px 0px 0px 4px #fff;
}

.CustomCombo {
    	background-color: black;
    	position: relative;
    	width: 280px;
    	height: 45px;
	margin-top: 20px;
	margin-bottom: 20px;
    	border-radius: 10px;
	cursor: pointer;
}

.CustomCombo p {
    	color: white;
	font-family:'Montserrat', sans-serif;
    	font-size: 18px;
	margin: 0px;
    	padding: 10px 10px;
	cursor: pointer;
}

.CustomCombo ul {
    	list-style-type: none;
    	position: absolute;
    	display: none;
    	cursor: pointer;
}

.CustomCombo ul li {
    	display: none;
}

.CustomComboOpen {
    	background-color: black;
    	position: relative;
    	width: 280px;
    	height: 45px;
	margin-top: 20px;
	margin-bottom: 20px;
    	border-radius: 10px;
    	cursor:pointer;
}

.CustomComboOpen p {
    	color: white;
    	font-family:'Montserrat', sans-serif;
    	font-size: 18px;
    	margin: 0px;
    	padding: 5px 10px;
    	padding-bottom: 2px;
    	cursor:pointer;
}

.CustomComboOpen ul {
    	list-style-type: none;
    	position: absolute;
    	margin: 0px;
    	padding: 0px;
    	width: 100%;
    	cursor:pointer;
    	border-radius: 10px;
    	background-color: black;
}

.CustomComboOpen ul li {
    	position: relative;
    	padding: 4px 10px;
    	color: white;
    	font-family:'Montserrat', sans-serif;
    	font-size: 18px;
    	cursor:pointer;
    	border-radius: 5px;
    	background-color: transparent;
}

.CustomComboOpen ul li:hover {
    	background-color: #303030;
}

@media screen and (min-width: 150px) and (max-width: 650px) {
	
	h1 {
		font: normal 25px/normal 'Montserrat', sans-serif;
	}
	
	
	.form_frame {
		width: 100%;
		height: 475px;
		border-radius: 40px;
	}
	
	.logo {
        	max-width: 100%;
       		max-height: 100%;
        	height: auto;
        	width: auto;
        }
	
	.search_box {
		width: 225px;
	}
	
	.search_box:hover {
		width: 275px;
	}
	
	.search_box:focus {
		width: 325px;
	}
	
	.searchButton {
		margin-top:20px;
		width: 260px;
		height: 22px;
		padding: 10px 10px;
		border: none;
	}
}
