/* Rules for Smallerish screens */

@media only screen and (max-device-height: 800px) {
	
body {
	font-size: 80%;
	}
}



/* Rules for Mobile Devices */


@media only screen and (max-device-width: 750px) {

    #menu {

        width: 80% !important;
        position:  fixed !important;
        top: 0 !important;
        z-index: 2 !important;
        transition: all linear 0.3s !important;
        border-radius: 0.5em 0em 0em 0.5em !important;
        padding: 1em !important;
    }

#Header {

 background-size: 100% 100% !important;
 }

    #menu.ng-hide {
        right: -300px !important;
    }

    .openMobileMenuButton {

        display: inline !important;
    }



    #eventsContainer {
        width: 100% !important;

    }

    .Event {
        overflow-x: hidden !important;
        border-radius: 0 !important;
        left: 0 !important;
        margin: 0.0% 0% 1% 0% !important;
    }

    .eventIcons img {
        padding: 0em 0.5em 0.5em 0.5em !important;
        width: 60% !important;
    }


    body {
        font-size: 80% !important;
    }

    #Header {
      height: 8% !important;
      min-height: 80px !important;
    }



}

/* Main Screen Rules */

body {
    margin: 0 auto;
    font-family: Montserrat;

		background-color: floralwhite;
    font-size: 130%;
}

button {
  font-family: Montserrat;
}
#Header {
    background-image: url("images/header.png");

	background-repeat: no-repeat;

    height: 10%;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.headerLogo {
    height: 95%;
    margin: 0.5em 0em 0.5em 1em;
}





#mysticalHeaderPaddingFix {
    height: 10%;
    width: 100%;
    min-height: 100px;

}


.openMobileMenuButton {
    position: fixed;
    right: 1em;
    top: 1.75em;
    border-radius: 0.2em;
    height: 30px;
    display: none;
}





#eventsContainer {
    overflow-y: auto;
position: relative;
   width: 75%;
    left: 0;
    float: left;


}


.Event {
	width: 97%;
    padding: 0.5em;

        margin-left: 1.5em;
    background-color: floralwhite;
    opacity: 0.9;
    border-radius: 0.5em;
    min-height: 10px;

}




 .Event h1 {
	 font-family: Montserrat;
	 font-style: semi-bold;
     color: #E70B3A;
 }

.Event h2 {
    color: #6E0251;
    font-style: semi-bold;
}


.eventsTable {
    width: 100%;

}



hr {
	display: block;
 margin-top: 1em;
 margin-bottom: 0.5em;
 margin-left: auto;
 margin-right: auto;
 border-style: solid;
 border-width: 3px;
 background-image: url("images/header.png");
}
.eventImg {
    width: 20%;
    padding-right: 1em;
		vertical-align: top;
}

.eventImg img {
    width: 100%;
}

.eventIcons {
	vertical-align: top;
	width: 20%;
}

.eventIcons img {
    padding: 0em 0.5em 1em 0.5em;
    width: 22%;
}
.eventText {
    vertical-align: top;

}

.eventText h1, h2, h3, h4 {
    margin: 0;
}


#Calendar {
    color: white;
    background-color: #4d4d4d;
    margin: 0 auto;
    height: 100vw;
    padding: 4%;
    width: 90%;
}

hr {
    border-color: #d4145a;
    border-style: solid;
}



/* Menu Stuff */

 #menu {

	 width: 20%;
     position: fixed;
	 background-image : url("images/background2.png");
	 min-height: 100vh;
   height: 100px;
	 color: white;
	 padding: 1% 2% 1% 2%;

     right: 0;
     top: 100px;
     float: right;



 }
  #menuMobile {
	 float: right;
	 width: 100%;
	 background-color: green;

	 color: white;
	 padding: 1% 5% 3% 5%;
	 display: none;

 }

 .dateTextBox {
	 border-radius: 2px;
	 padding: 0.5em;
	 background-color: antiquewhite;
	 border: 0;
	 width: 90%;
 }


 .updateSearchButton {
	 border-radius: 2px;
	 background-color: antiquewhite;
	 padding: 0.5em;
	 border: 0;
	 font-size: 120%;
	 width: 100%;
 }

 .updateSearchButton:hover {
	 background-color: lightslategray;
 }

 .sliderTable {
	 width: 100%;
	 line-height: 0;

 }
 .slider {
	 width: 85%;

 }
 .sliderBar {
	 width: 100%;
 }
 .sliderValue {
  text-align: right;

 }

 #catButton {
	 background-color: antiquewhite;
	 border-radius: 2px;
   padding: 0em 0.5em 0em 0.5em;
	 border: 0;
	 color: black;
	 margin: 1%;
	 display: inline;
	 line-height: 2.5;
   font-weight: bold;
   font-size: 100%;

 }
