/* Rules for Smallerish screens */

@media screen and (max-device-height: 800px) {

#menu {
	font-size: 75% !important;
	}


}

@media only screen and (max-device-height: 900px) {

#menu {
	font-size: 70% !important;
	}
}



/* Rules for Mobile Devices */


@media only screen and (max-device-width: 750px) {

    #menu {

        width: 80% !important;
        position:  fixed !important;
        top: 0 !important;
        z-index: 2 !important;
        transition: all linear 0.3s !important;
        border-radius: 0.5em 0em 0em 0.5em !important;
        padding: 1em !important;
        font-size: 80% !important;
    }

    /* Mobile Menu backgrounc */
    #menuBodyCover {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    background-color: rebeccapurple;
    position: fixed;
    opacity: 0.8;
    border: 0;
    left: 0;
    top: 0;
    bottom: 0;
    }

	#Header {

	 background-size: 100% 100% !important;
	 }

    #menu.ng-hide {
        right: -300px !important;
    }

    .openMobileMenuButton {

        display: inline !important;
    }



    #eventsContainer {
        width: 100% !important;

    }

    .Event {
        overflow-x: hidden !important;
        border-radius: 0 !important;
        left: 0 !important;
        margin: 0.0% 0% 1% 0% !important;
    }

    .eventIcons img {
        padding: 0em 0.5em 0.5em 0.5em !important;
        width: 60% !important;
    }


    body {
        font-size: 80% !important;
    }

    #Header {
      height: 8% !important;
      min-height: 80px !important;
    }

    /* Formatting the icon key for mobile */

		#IconContent {
			height: 95% !important;
			border-radius: 0px !important;
			line-spacing: 0.25 !important;
			
		}


    #IconContent ul li span {

    	font-size: 1.5em !important;
	    margin-left: 0.5em !important;
		}

		#IconContent ul {

		    margin-top: 10px !important;
				margin-left: 1px !important;
}

		#IconContent ul li {
		    float: left;
		    width: 100% !important;
		    padding-bottom: 5px !important;
		}

}

/* Main Screen Rules */

html {
	font-family: Montserrat;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    margin: 0 auto;
    font-family: Montserrat;

		background-color: white;
    font-size: 100%;
}

button {
  font-family: Montserrat;
}
#Header {
    background-image: url("images/header.png");

	background-repeat: no-repeat;

    height: 10%;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.headerLogo {
    height: 95%;
    margin: 0.5em 0em 0.5em 1em;
}





#mysticalHeaderPaddingFix {
    height: 10%;
    width: 100%;
    min-height: 100px;

}


.openMobileMenuButton {
    position: fixed;
    right: 1em;
    top: 1.75em;
    border-radius: 0.2em;
    height: 30px;
    display: none;
}





#eventsContainer {
    overflow-y: auto;
position: relative;
   width: 75%;
    left: 0;
    float: left;


}


.eventsTable {
	width: 97%;
    padding: 0.5em;

        margin-left: 1.5em;
    background-color: #ffffff;
    opacity: 0.9;
    border-radius: 0.5em;
    min-height: 10px;

}




 .eventsTable h1 {
	 font-family: Montserrat;
	 font-style: semi-bold;
     color: #E70B3A;
 }

.eventsTable h2 {
    color: #6E0251;
    font-style: semi-bold;
}


.seventsTable {
    width: 100%;


}



#eventDivider {
	display: block;
 margin-top: 1em;
 margin-bottom: 0.5em;
 margin-left: auto;
 margin-right: auto;
 border-style: solid;
 border-width: 3px;
 background-image: url("images/header.png");
    border-radius: 1em;
    width: 95%;
}
.eventImg {
    width: 15%;
    max-height: 100px;
    padding-right: 1em;
    vertical-align: top;
}

.eventDescription img {
    max-height: 50px;
}

.eventImg img {
    width: 100%;
}

.eventIcons {
	vertical-align: top;
	width: 20%;
}

.eventIcons img {
    padding: 0em 0.5em 1em 0.5em;
    width: 22%;
}
.eventText {
    vertical-align: top;

}

.eventText h1, h2, h3, h4 {
    margin: 0;
}


#Calendar {
    color: white;
    background-color: #4d4d4d;
    margin: 0 auto;
    height: 100vw;
    padding: 4%;
    width: 90%;
}

hr {
    border-color: #d4145a;
    border-style: solid;
}



/* Menu Stuff */

 #menu {

	 width: 20%;
     position: fixed;
	// background-image : url("images/background2.png");
	background-color: black;

	 min-height: 100vh;
   height: 100px;
	 color: white;
	 padding: 1% 2% 1% 2%;

     right: 0;
     top: 100px;
     float: right;



 }
  #menuMobile {
	 float: right;
	 width: 100%;
	 background-color: green;

	 color: white;
	 padding: 1% 5% 3% 5%;
	 display: none;

 }

 .dateTextBox {
	 border-radius: 2px;
	 padding: 0.5em;
	 background-color: white;
	 font-family: Montserrat;
	 border: 0;
	 width: 90%;
 }


 .updateSearchButton {
	 border-radius: 2px;
	 background-color: #e70b3a;
	 color: white;
	 padding: 0.5em;
	 border: 0;
	 font-size: 120%;
	 width: 100%;
     font-family: Montserrat;
 }

 .updateSearchButton:hover {
	 background-color: #a8033b;
 }

 .sliderTable {
	 width: 100%;
	 line-height: 0;

 }
 .slider {
	 width: 85%;

 }
 .sliderBar {
	 width: 100%;
 }
 .sliderValue {
  text-align: right;

 }

 #catButton {
	 background-color: #e70b3a;
	 border-radius: 2px;
   padding: 0em 0.5em 0em 0.5em;
	 border: 0;
	 color: white;
	 margin: 1%;
	 display: inline;
	 line-height: 2.5;
   font-weight: bold;
   font-size: 100%;

 }

#catButton:focus {
	outline: none;
}


.keywords {
	background-color: white;
	line-height: 1.5;
	padding: 0.5em;
	font-size: 100%;
	width: 90%;
	border-radius: 0.5em;
	font-family: Montserrat;
}

#Darken {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0,0,0, 0.75);
}

#IconContent {

    width: 92%;
    height: 70%;

    margin: auto;
    margin-top: 35px;

    padding: 20px;

    border-radius: 10px;
    background-color: white;
    font-size: 1em;
    color: red;
    font-family: Montserrat;

}


#IconContent hr {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    margin: 0px;
    margin-top: 10px;
}

#IconContent img {
    width: 3%;

    padding-left: 1em;
    float: right;
}

#IconContent ul {
    width: 100%;
    margin: 20px;
    padding-left: 0px;

    list-style-type: none;
}

#IconContent ul li {
    float: left;
    width: 50%;
    padding-bottom: 20px;
}

#IconContent ul li img{
    width: 10%;
    height: 10%;
    float: left;
}

#IconContent ul li span {
    float: top;
    font-size: 2em;
    color: red;
    margin-left: 20px;
}

#IconContent ul .Genre {
    color: #7d1b63 !important;
}

#Loading-Gif {
    height: 10vh;
    width: auto;
}
